### Veri setinden veri cekmeyi ve filtrelemeyi ogrendik zira veriler dogru formatta cikmaz. Bazen elimizdeki verileri bicimlendirmek gerekir.

In [2]:
import pandas as pd
import numpy as np

In [5]:
path = '/workspaces/A01_H05/winemag-data-130k-v2.csv'
df = pd.read_csv(path, index_col = 'Unnamed: 0')   

df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [ ]:
# Summary Functions

'''
    Iki farkli tanimlayici istatistik var.
    describe()  Veri seti hakkinda istatiksel ozetler verir. Varsayilan olarak sadece sayisal sutunlari gosterir, o yuzden once verileri ayirlamak gerekir.
'''

In [ ]:
df_numeric = df.select_dtypes(include=['int64','Float64'])
df_numeric.head()

df_numeric.describe()   # df.describe()  # zz: bu da is gorur, default olarak numericleri aldigi icin

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [ ]:
df_numeric.describe().T  # transpose

           count       mean        std   min   25%   50%   75%     max
points  129971.0  88.447138   3.039730  80.0  86.0  88.0  91.0   100.0
price   120975.0  35.363389  41.022218   4.0  17.0  25.0  42.0  3300.0

In [13]:
df_numeric.head(64987).tail(5)  # meadian testi

       points  price
64982      85   12.0
64983      85   20.0
64984      85   13.0
64985      85   14.0
64986      85   12.0

In [ ]:
# string datalar  # data frame yapisinda string'e object deniyor
df_object = df.select_dtypes(include=['object'])

df_object.describe().T

,count,unique,top,freq
country,129908,43,US,54504
description,129971,119955,"Gravenstein apple, honeysuckle and jasmine aro...",3
designation,92506,37979,Reserve,2009
province,129908,425,California,36247
region_1,108724,1229,Napa Valley,4480
region_2,50511,17,Central Coast,11065
taster_name,103727,19,Roger Voss,25514
taster_twitter_handle,98758,15,@vossroger,25514
title,129971,118840,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,11
variety,129970,707,Pinot Noir,13272
winery,129971,16757,Wines & Winemakers,222

In [21]:
# numeric fieldler icin mean, count, std gibi hesaplamara asagidaki gibi direkt ulasabiliriz

df_numeric.points.count()
df_numeric.points.unique()
df_numeric.points.mean()

np.float64(88.44713820775404)

In [ ]:
df.taster_name.nunique()  # non unique

19

In [ ]:
# Mapleme ve Apply islemleri

# Mapping islemi bir deger kumesini baska bir deger kumesi ile esleme islemi yapmaktadir. Veri biliminde siklikla mevcut verilerden yeni veriler gosterimler olusturulmaya veya verilerin varolan formatlarini 
# degistirerek ynei bir formata donusturmeye ihtiyac duyulur.

In [ ]:
pointsMean = df['points'].mean()

print(pointsMean)

88.44713820775404

In [ ]:
# Bu ortalamayi kullanirak scaling (olceklendirme) yapmak istersek

df['points'].map(lambda p: p-pointsMean)  # js'deki es6 yazimi pythonda da var

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [ ]:
import math
math.sqrt(float(df['points'].map(lambda p: (p-pointsMean)**2).sum()/129971))

# zz: std. sapma ispati

3.039718509014864

In [ ]:
# Apply

# apply() birden fazla sutunda degistirme islemi yapmak icin kullanilir

In [ ]:
df[['points', 'price']] = df[['points', 'price']].apply(lambda p: p*1.1)  # aninda bu sekilde arttirilabilir

df[['points', 'price']]  # data degisti, artik. copy yaparak yapmakta fayda var.

# Hocanin kodunda klasik fonksiyon yazarak gosterdi, onun git'inden bakmak istersen bak.

        points  price
0       105.27    NaN
1       105.27  18.15
2       105.27  16.94
3       105.27  15.73
4       105.27  78.65
...        ...    ...
129966  108.90  33.88
129967  108.90  90.75
129968  108.90  36.30
129969  108.90  38.72
129970  108.90  25.41

[129971 rows x 2 columns]

In [ ]:
# MOLA 14:38-15:00

In [ ]:
# mapleme islemlerinde de lambda yaziminda if kullanilabilir

teets